// @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");         // 나눔고딕
// @import url("http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css");   // Nanum Gothic Coding
 



body {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 15px;
  // font-family:'나눔고딕', NanumGothic, 'Nanum Gothic';
  // font-family:'Nanum Gothic Coding';
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// box-sizing 일괄 설정
*, *:before, *:after{
  box-sizing : inherit;
}

// 링크 스타일 밑줄 및 색상 무효화
a {
  text-decoration: inherit;
  color: inherit;
}


