@import '../../../styles/utils.scss';

.page-template {
    header {
        width: 100%;
        top: 0px;
        margin: 0px;
        padding: 0px;
    }
    main {
        margin-top: 15px;
    }
}