@import "../styles//utils.scss";

.not-found {
  background: lightslategray;
  display: flex;
  justify-content: center;
  height: 100vh;
  
  .description {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 10%;

    .home {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      color: white;
      font-weight: 700;

      border: 1px solid white;
      border-radius: 2px;

      cursor: pointer;

      user-select: none;

      &:hover {
        background: $oc-violet-6;
      }

      &:active {
        background: $oc-violet-7;
      }
    }
  }
}