@import '../../../styles/utils.scss';

.register-container {
    padding: 40px 100px;
    margin: 5% 20%;
    border: double 5px darkgray;

    .title {
      text-align: center;
      margin-bottom: 30px;
    }

    .description {
      font-size: 13px;
      color: gray;
      margin-left: 100px;
    }

    .required {
        color: red;
        margin-right: 10px;
      }

    .form-group {
      margin: 20px 0px;

      &.flex {
        display: flex;
        margin-left: 18px;

        .form-control {
          color: seagreen;
        }
      }

      &.phone {
        margin-left: 18px;
      }

      &.btn {
        text-align: right;
        margin-top: 50px;

        .submit {
          height: 30px;
          color: white;
          background-color: black;
          border: outset;
          @include button-default();

          &:hover {
            background-color: dimgray;
            border: 3px;
          }
        }

        .cancle {
          padding: 4px 10px;
          margin-left: 30px;
          font-size: 13px;
          color: black;
          background-color: white;
          border: outset wheat;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background-color: gray;
          }
        }
      }

      .err {
        font-size: 13px;
        color: red;
        margin: 10px 130px;
      }

      .form-control {
        margin-left: 5%;

        &.select {
          width: 200px;
          height: 30px;
          font-size: 15px;
          }

        &.text {
          width: 400px;
          height: 25px; 

          &.i {
            padding: 10px;  
        }
        }
      }
    }
}